/# Menentukan faktorial dari bilangan.py
/# Program untuk menghasilkan kuadrat bil.py
/#membuat bilangan rekursif.py
/#membuat Fungsi Rekursif untuk Menghitung bil berpangkat.py
/#Menentukan Bilangan Fibonacci dengan Fungsi rekursif.py
/#Menghitung Bilangan Faktorial Dengan Fu.py
/ATM.java
/ATMM.java
/Binerdesimal.py
/Desimal.py
/fungsi.py
/hourofcode01.py
/hourofcode03.py
/jawaban no 2.py
/jawbana no 3 a.py
/KartuATM.java
/konversi bilangan.py
/Latihan1c.py
/List-tupple-set.py
/luas volume kubus.py
/method.py
/model
/no 3 c.py
/no 3 d.py
/penulisan algo.py
/RecursiveFib.java
/SOAL02.py
/tessss.py
/tol.py
/try.py